html, body {
  margin: 0;
  font-family: Inter;
}

header {
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px
}

header > span {
  font-size: 16px;
  font-weight: 500;
  color: white;
  letter-spacing: -7.5%;
}